:root {
  --padding-offset: 2rem;
  --transition-duration-300: 300ms;
  --transition-duration-100: 100ms;
  --transition-delay: 80ms;
  --body-background: #0a0b26;

  --white: #fff;
  --black: #000;
  --gray-light: #6d6d6d;
  --gray-dark: #494949;
  --blue-tint-light: hsl(216, 100%, 50%);
  --blue-tint-dark: hsl(216, 100%, 35%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background: var(--body-background);
  font-family: Ubuntu, "Montserrat", sans-serif;
  overflow-x: hidden;
}


/*///////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////*/

#top-layer .head-layer{
  width: 100%;
  height: 100px;
background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

#top-layer .head-layer h1{

  text-align: center;
  text-decoration: none;

}


#top-layer .head-layer h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(#eff754, #87b3fa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}





/*///////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////*/
input,
button {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}
button:focus {
  outline: none;
}

header {
  position: relative;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  padding: 0 2rem;
  margin-bottom: 2rem;
}
header .btn.home {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  background: none;
}
header .btn.home .icon {
  --size: 30px;
  width: var(--size);
  height: var(--size);
}
header .btn.home .icon svg {
  fill: var(--blue-tint-light);
  width: 100%;
  height: 100%;
  animation: hue-rotation 5000ms linear alternate-reverse infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
header .btn.home span {
  color: var(--white);
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 1.5rem;
}
header .btn.home:hover .icon svg {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
header form {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}
header form input[type="text"] {
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  padding-right: 35%;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}
header form input[type="text"]::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.45);
}
header form input[type="text"]::-moz-placeholder {
  color: rgba(0, 0, 0, 0.45);
}
header form input[type="text"]:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.45);
}
header form input[type="text"]::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.45);
}
header form input[type="text"]::placeholder {
  color: rgba(0, 0, 0, 0.45);
}
header form button.search {
  background: var(--blue-tint-light);
  color: var(--white);
  -webkit-transition: background var(--transition-duration-100) ease, -webkit-filter var(--transition-duration-100) ease;
  transition: background var(--transition-duration-100) ease, -webkit-filter var(--transition-duration-100) ease;
  transition: background var(--transition-duration-100) ease, filter var(--transition-duration-100) ease;
  transition: background var(--transition-duration-100) ease, filter var(--transition-duration-100) ease, -webkit-filter var(--transition-duration-100) ease;
}
header form button.search:not(:disabled) {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
header form button.search:not(:disabled):hover, header form button.search:not(:disabled):focus {
  background: var(--blue-tint-dark);
}
header form button.search:disabled {
  -webkit-filter: grayscale(0.98);
          filter: grayscale(0.98);
}
header form .form-group {
  --border-radius: 0.5em;
  position: relative;
  width: 300px;
  border-radius: var(--border-radius);
  overflow: hidden;
}
header form .form-group .icon {
  --size: 12px;
  width: var(--size);
  height: var(--size);
  -webkit-transition: margin var(--transition-duration-100) ease;
  transition: margin var(--transition-duration-100) ease;
}
header form .form-group .icon svg {
  fill: var(--white);
  width: 100%;
  height: 100%;
}
header form .form-group.g-1 input[type="text"]:focus ~ button:not(:disabled) {
  -webkit-transform: translateX(-55%);
          transform: translateX(-55%);
}
header form .form-group.g-1 input[type="text"]:focus ~ button:not(:disabled) .icon {
  margin-right: 4px;
}
header form .form-group.g-1 .btn.search {
  position: absolute;
  top: 0;
  right: -20%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 32%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  -webkit-transition: -webkit-transform var(--transition-duration-100) ease;
  transition: -webkit-transform var(--transition-duration-100) ease;
  transition: transform var(--transition-duration-100) ease;
  transition: transform var(--transition-duration-100) ease, -webkit-transform var(--transition-duration-100) ease;
  padding-right: 15px;
  padding-left: 0;
}
header form .form-group.g-1 .btn.search span {
  margin-left: 5px;
}
header form .form-group.g-2 {
  width: auto;
}
header form .form-group.g-2 button.search {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  background: none;
}
header form .form-group.g-2 button.search .icon {
  --size: 20px;
}
header form .form-group.g-2 button.search .icon svg {
  fill: var(--gray-light);
}
header form .floating--container {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 130%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
  background: var(--gray-dark);
  -webkit-transition: -webkit-transform var(--transition-duration-300) ease;
  transition: -webkit-transform var(--transition-duration-300) ease;
  transition: transform var(--transition-duration-300) ease;
  transition: transform var(--transition-duration-300) ease, -webkit-transform var(--transition-duration-300) ease;
}
header form .floating--container .input--container {
  width: 80%;
  height: 40%;
  display: grid;
  grid-template-columns: 0.75fr 0.25fr;
  border-radius: 0.4rem;
  overflow: hidden;
  margin-top: 0.8rem;
}
header form .floating--container .input--container input[type="text"] {
  padding-right: 1rem;
}
header form .floating--container .input--container input[type="text"]:focus ~ button:not(:disabled):hover {
  background: var(--blue-tint-dark);
}
header form .floating--container .input--container button.search {
  width: 100%;
  height: 100%;
}
header form .floating--container button.close {
  --size: 30px;
  width: var(--size);
  height: var(--size);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  background: none;
}
header form .floating--container button.close .icon {
  width: calc(var(--size) / 1.6);
  height: calc(var(--size) / 1.6);
}
header form .floating--container button.close .icon svg {
  width: 100%;
  height: 100%;
  fill: #fb3958;
}
header form .floating--container.hide {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.masonry {
  width: 100%;
  height: auto;
  padding: 0 1rem 1rem 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 0;
}
.masonry .masonry-brick .image-card {
  --card-options-height: 60px;
  position: relative;
  display: -webkit-box;
  display: flex;
  background: var(--white);
  box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.016), 0 22.3px 17.9px rgba(0, 0, 0, 0.024), 0 100px 80px rgba(0, 0, 0, 0.04);
  overflow: hidden;
}
.masonry .masonry-brick .image-card::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.75)), to(transparent));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75) 0%, transparent 100%);
  opacity: 0;
  -webkit-transition: opacity var(--transition-duration-300) ease;
  transition: opacity var(--transition-duration-300) ease;
  -webkit-transition-delay: var(--transition-delay);
          transition-delay: var(--transition-delay);
  z-index: 1;
}
.masonry .masonry-brick .image-card:hover::after {
  opacity: 1;
}
.masonry .masonry-brick .image-card:hover img.image {
  --image-transform-offset: -30px;
}
.masonry .masonry-brick .image-card:hover .image-card--options {
  --tranform-y: 0;
}
.masonry .masonry-brick .image-card img.image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform var(--transition-duration-300) ease;
  transition: -webkit-transform var(--transition-duration-300) ease;
  transition: transform var(--transition-duration-300) ease;
  transition: transform var(--transition-duration-300) ease, -webkit-transform var(--transition-duration-300) ease;
  -webkit-transform: translateY(var(--image-transform-offset, 0%));
          transform: translateY(var(--image-transform-offset, 0%));
  -webkit-transition-delay: var(--transition-delay);
          transition-delay: var(--transition-delay);
}
.masonry .masonry-brick .image-card--clickable-area {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100% - var(--card-options-height));
  z-index: 20;
  cursor: pointer;
}
.masonry .masonry-brick .image-card--options {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: var(--card-options-height);
  display: grid;
  grid-template-columns: 1fr 0.35fr;
  -webkit-box-align: center;
          align-items: center;
  background: var(--white);
  -webkit-transition: -webkit-transform var(--transition-duration-300) ease;
  transition: -webkit-transform var(--transition-duration-300) ease;
  transition: transform var(--transition-duration-300) ease;
  transition: transform var(--transition-duration-300) ease, -webkit-transform var(--transition-duration-300) ease;
  -webkit-transform: translateY(var(--tranform-y, 100%));
          transform: translateY(var(--tranform-y, 100%));
  -webkit-transition-delay: var(--transition-delay);
          transition-delay: var(--transition-delay);
  z-index: 5;
  cursor: default;
}
.masonry .masonry-brick .image-card--options .user-info {
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  padding: 0 0.5em;
}
.masonry .masonry-brick .image-card--options .user-info a {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}
.masonry .masonry-brick .image-card--options .user-info a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.masonry .masonry-brick .image-card--options .user-info h3 {
  margin-left: 6px;
  font-size: 0.8em;
}
.masonry .masonry-brick .image-card--options .links {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
          align-items: center;
  padding-right: 0.8em;
}
.masonry .masonry-brick .image-card--options .links .link .icon {
  --size: 20px;
  width: var(--size);
  height: var(--size);
  margin-left: 12px;
}
.masonry .masonry-brick .image-card--options .links .link .icon svg {
  fill: var(--fill, rgba(0, 0, 0, 0.6));
  width: 100%;
  height: 100%;
  -webkit-transition: fill var(--transition-duration-100) ease;
  transition: fill var(--transition-duration-100) ease;
}
.masonry .masonry-brick .image-card--options .links .link:hover .icon.instagram {
  --fill: #fb3958;
}
.masonry .masonry-brick .image-card--options .links .link:hover .icon.twitter {
  --fill: #00acee;
}
.masonry .masonry-brick .image-card--options .links .link:hover .icon.download {
  --fill: var(--black);
}
.masonry .masonry-brick .image-card .image-card-fg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: -webkit-transform var(--transition-duration-300) ease;
  transition: -webkit-transform var(--transition-duration-300) ease;
  transition: transform var(--transition-duration-300) ease;
  transition: transform var(--transition-duration-300) ease, -webkit-transform var(--transition-duration-300) ease;
  pointer-events: none;
}
.masonry .masonry-brick .image-card .image-card-fg.hide {
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 35;
  background: rgba(0, 0, 0, 0.9);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}
.modal .image-container {
  --icon-size: 20px;
  position: relative;
  width: auto;
  margin-top: -2rem;
}
.modal .image-container img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal .image-container button.close {
  position: absolute;
  top: 0;
  right: calc(-2 * var(--icon-size));
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: calc(var(--icon-size) * 2);
  height: calc(var(--icon-size) * 2);
  background: #ff4f4f;
  border-radius: 50%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}
.modal .image-container .icon {
  width: calc(var(--icon-size));
  height: calc(var(--icon-size));
}
.modal .image-container .icon svg {
  fill: var(--white);
  width: 100%;
  height: 100%;
}
.modal .image-container .options--container {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
          align-items: center;
  background: var(--white);
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}
.modal .image-container .options--container .icon svg {
  fill: var(--gray-light);
}
.modal .image-container .options--container .group {
  display: -webkit-box;
  display: flex;
  height: 32px;
  margin: 0 10px;
}
.modal .image-container .options--container .group a,
.modal .image-container .options--container .group button {
  --border-color: rgba(0, 0, 0, 0.25);
  color: var(--gray-light);
  font-size: 0.85rem;
  text-transform: capitalize;
  font-weight: 800;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  cursor: pointer;
  border: 1px solid var(--border-color);
  background: var(--white);
  border-radius: 4px;
  -webkit-transition: border var(--transition-duration-100) ease, color var(--transition-duration-100) ease;
  transition: border var(--transition-duration-100) ease, color var(--transition-duration-100) ease;
}
.modal .image-container .options--container .group a:hover,
.modal .image-container .options--container .group button:hover {
  --border-color: rgba(0, 0, 0, 1);
  border: 1px solid var(--border-color);
  color: var(--black);
}
.modal .image-container .options--container .group a:hover .icon svg,
.modal .image-container .options--container .group button:hover .icon svg {
  fill: var(--black);
}
.modal .image-container .options--container .group.g-1 a {
  text-decoration: none;
  padding: 0 15px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.modal .image-container .options--container .group.g-1 .dropdown-btn--container {
  --size: 32px;
  position: relative;
  width: var(--size);
  height: var(--size);
}
.modal .image-container .options--container .group.g-1 .dropdown-btn--container button {
  width: 100%;
  height: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.modal .image-container .options--container .group.g-1 .dropdown-btn--container button .icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.modal .image-container .options--container .group.g-1 .dropdown-btn--container .dropdown--menu {
  position: absolute;
  right: 5%;
  bottom: 135%;
  background: var(--black);
  width: 240px;
  border-radius: 0.45rem;
  -webkit-transform-origin: 95% 115%;
          transform-origin: 95% 115%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity var(--transition-duration-300) cubic-bezier(0.65, -0.65, 0.25, 1.25), -webkit-transform var(--transition-duration-300) cubic-bezier(0.65, -0.65, 0.25, 1.25);
  transition: opacity var(--transition-duration-300) cubic-bezier(0.65, -0.65, 0.25, 1.25), -webkit-transform var(--transition-duration-300) cubic-bezier(0.65, -0.65, 0.25, 1.25);
  transition: transform var(--transition-duration-300) cubic-bezier(0.65, -0.65, 0.25, 1.25), opacity var(--transition-duration-300) cubic-bezier(0.65, -0.65, 0.25, 1.25);
  transition: transform var(--transition-duration-300) cubic-bezier(0.65, -0.65, 0.25, 1.25), opacity var(--transition-duration-300) cubic-bezier(0.65, -0.65, 0.25, 1.25), -webkit-transform var(--transition-duration-300) cubic-bezier(0.65, -0.65, 0.25, 1.25);
}
.modal .image-container .options--container .group.g-1 .dropdown-btn--container .dropdown--menu::after {
  --size: 12px;
  content: "";
  position: absolute;
  right: calc(0.8 * var(--size));
  bottom: calc(-0.5 * var(--size));
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: var(--size);
  height: var(--size);
  background: var(--black);
}
.modal .image-container .options--container .group.g-1 .dropdown-btn--container .dropdown--menu.hide {
  opacity: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}
.modal .image-container .options--container .group.g-1 .dropdown-btn--container .dropdown--menu ul {
  padding: 5px 0;
}
.modal .image-container .options--container .group.g-1 .dropdown-btn--container .dropdown--menu ul li {
  list-style: none;
  padding: 10px 0;
  width: 100%;
  cursor: pointer;
}
.modal .image-container .options--container .group.g-1 .dropdown-btn--container .dropdown--menu ul li a {
  display: block;
  text-align: right;
  border-radius: 0;
  border: 0;
  background: none;
  font-weight: normal;
  font-size: 0.95rem;
  color: var(--white);
  -webkit-transition: color var(--transition-duration-100) ease;
  transition: color var(--transition-duration-100) ease;
}
.modal .image-container .options--container .group.g-1 .dropdown-btn--container .dropdown--menu ul li a span {
  color: var(--gray-light);
}
.modal .image-container .options--container .group.g-1 .dropdown-btn--container .dropdown--menu ul li:last-child {
  border-top: 1px solid var(----gray-light);
}
.modal .image-container .options--container .group.g-1 .dropdown-btn--container .dropdown--menu ul li:hover a, .modal .image-container .options--container .group.g-1 .dropdown-btn--container .dropdown--menu ul li:focus a {
  color: var(--gray-light);
}
.modal .image-container .options--container .group.g-2 button {
  padding: 0 8px;
}
.modal .image-container .options--container .group.g-2 button .icon {
  padding: 2px;
}
.modal .image-container .image-info--container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  padding: 0 2rem;
}
.modal .image-container .image-info--container .image-info--modal {
  position: relative;
  width: 550px;
  border-radius: 0.35rem;
  background-position: center;
  background-size: cover;
}
.modal .image-container .image-info--container .image-info--modal .btn.close {
  background: #999999;
}
.modal .image-container .image-info--container .image-info--modal .row {
  padding: 18px 25px;
}
.modal .image-container .image-info--container .image-info--modal .row--1 h1 {
  margin: 0;
  font-weight: 400;
  font-size: 1.5rem;
}
.modal .image-container .image-info--container .image-info--modal .row--1 span {
  font-size: 0.8rem;
}
.modal .image-container .image-info--container .image-info--modal .row--2 {
  display: -webkit-box;
  display: flex;
}
.modal .image-container .image-info--container .image-info--modal .row--2 .image-info {
  margin-right: 30px;
}
.modal .image-container .image-info--container .image-info--modal .row--2 .image-info .info {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  padding: 5px 0;
}
.modal .image-container .image-info--container .image-info--modal .row--2 .image-info .info .icon {
  --size: 16px;
  width: var(--size);
  height: var(--size);
}
.modal .image-container .image-info--container .image-info--modal .row--2 .image-info .info .icon svg {
  fill: var(--black);
}
.modal .image-container .image-info--container .image-info--modal .row--2 .image-info .info--title {
  font-size: 0.8rem;
  padding: 0 5px;
  font-weight: 500;
}
.modal .image-container .image-info--container .image-info--modal .row--2 .image-info .info--value {
  font-weight: bold;
  letter-spacing: 1px;
  padding-left: 0.4rem;
}
.modal .image-container .image-info--container .image-info--modal .row--2 .image-info .monthly-stats {
  font-size: 0.75rem;
  color: var(--gray-light);
}
.modal .image-container .image-info--container .image-info--modal .row--2 .image-info.likes--container .icon svg {
  stroke: var(--black);
  stroke-width: 3px;
  fill: none;
}
.modal .image-container .image-info--container .image-info--modal .row--3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem;
}
.modal .image-container .image-info--container .image-info--modal .row--3 .camera-info .info--title {
  font-size: 0.75rem;
  color: var(--gray-dark);
  margin-bottom: 6px;
  display: block;
}
.modal .image-container .image-info--container .image-info--modal .row--3 .camera-info .info--value {
  font-size: 0.85rem;
}
.modal .image-container .image-info--container .image-info--modal .hr-line {
  width: 95%;
  height: 1px;
  background: var(--gray-light);
  opacity: 0.5;
  margin: auto;
}

.btn.load-more {
  border: none;
  margin: 5rem auto 20px auto;
  background: #8c8c8c;
  padding: 10px 20px;
  border-radius: 0.5em;
  color: var(--white);
  text-transform: capitalize;
  -webkit-transition: background var(--transition-duration-300) ease;
  transition: background var(--transition-duration-300) ease;
  box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.016), 0 22.3px 17.9px rgba(0, 0, 0, 0.024), 0 100px 80px rgba(0, 0, 0, 0.04);
}
.btn.load-more:hover {
  background: #666666;
}
.btn.load-more.loading {
  background: #666666;
  cursor: not-allowed;
}
.btn.load-more #wave {
  position: relative;
  width: 100%;
  height: 100%;
}
.btn.load-more #wave .dot {
  --size: 6px;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  margin-right: 3px;
  background: var(--white);
  -webkit-animation: wave 1.2s ease infinite;
          animation: wave 1.2s ease infinite;
}
.btn.load-more #wave .dot:nth-child(2) {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}
.btn.load-more #wave .dot:nth-child(3) {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}

.loading-text {
  width: 100%;
  text-align: center;
  color: var(--gray-dark);
  font-size: 2rem;
}

.failed-info-container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}
.failed-info-container .failed-text,
.failed-info-container p {
  text-align: center;
  color: var(--gray-dark);
}
.failed-info-container .failed-text {
  font-size: 4rem;
  margin-bottom: 0.4rem;
}
.failed-info-container p {
  text-transform: uppercase;
  font-weight: 700;
}

.no-image-found-info {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: var(--gray-dark);
}
.no-image-found-info h3 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.text-info {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  margin-bottom: 15px;
}
.text-info.type-something-info {
  font-size: 1.5rem;
  color: var(--gray-light);
}

@media only screen and (max-width: 900px) {
  .modal .image-container {
    width: 90%;
  }
  .modal .image-container img {
    width: 100%;
  }
}
@media only screen and (max-width: 550px) {
  header {
    position: -webkit-sticky;
    position: sticky;
    background: var(--body-background);
    z-index: 30;
    top: 0;
    padding: 0 1rem;
  }
  header form .form-group.g-1 {
    display: none;
  }
}
@media only screen and (min-width: 550px) {
  header form .form-group.g-2 {
    display: none;
  }
  header form .floating--container {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  .modal .image-container .image-info--container .image-info--modal .row--3 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@-webkit-keyframes wave {
  0%,
  60%,
  100% {
    -webkit-transform: initial;
            transform: initial;
  }
  30% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}
@keyframes wave {
  0%,
  60%,
  100% {
    -webkit-transform: initial;
            transform: initial;
  }
  30% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}
@-webkit-keyframes hue-rotation {
  0% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
  100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
}
@keyframes hue-rotation {
  0% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
  100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
}
